.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;

    .container-table {
        width: 80%;
    }
}

.p-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}