<div class="modal-overlay" [class.show]="visible" (click)="closeModal()"></div>
    <div class="modal-content" [class.show]="visible">
        <div class="modal-header">
            <h2>Adicionar Apartamento</h2>
            <button (click)="closeModal()"><i class="pi pi-times"></i></button>
        </div>
        <div class="modal-body">
            <div class="block-ap">
                <p-floatLabel>
                    <input pInputText id="block" [(ngModel)]="apartmentCreate.block" />
                    <label for="block">Bloco:</label>
                </p-floatLabel>
    
                <p-floatLabel>
                    <input pInputText id="apartmentNumber" [(ngModel)]="apartmentCreate.apartmentNumber" />
                    <label for="apartmentNumber">Apartamento:</label>
                </p-floatLabel>
            </div>

            <p-floatLabel>
                <input pInputText id="resident" [(ngModel)]="apartmentCreate.resident" />
                <label for="resident">Morador:</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="email" [(ngModel)]="apartmentCreate.email" />
                <label for="email">E-mail:</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="phone" [(ngModel)]="apartmentCreate.phone" mask="(00) 00000-0000" maxlength="15" />
                <label for="phone">Telefone:</label>
            </p-floatLabel>
           
        </div>
        <div class="modal-footer">
            <button (click)="createApartment()">Criar</button>
        </div>
    </div>