app-vehicles-list {
    
    .table-container {
        padding-bottom: 40px;
        max-width: 80%;
    }
}


.input-search {
    display: flex; 
    width: 250px;

    i {
        margin-right: 20px;
    }
}