.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa; // Cor de fundo leve para o cabeçalho
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra leve para elevação visual
  
    .header-title {
      margin-bottom: 20px; // Espaço entre o título e os botões
    }
  
    .buttons-container {
      display: flex;
      gap: 10px; // Espaço entre os botões
  
      .btn {
        padding: 10px 20px;
        background-color: #007bff; // Cor azul para os botões
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3; // Cor mais escura no hover
        }
      }
    }
  }
  