<div class="modal-overlay" [class.show]="visible" (click)="closeModal()"></div>
    <div class="modal-content" [class.show]="visible">
        <div class="modal-header">
            <h2>Editar Apartamento {{apartmentEdit.apartmentNumber}}</h2>
            <button (click)="closeModal()"><i class="pi pi-times"></i></button>
        </div>
        <div class="modal-body">
            <div class="block-ap">
                <p-floatLabel>
                    <input pInputText id="block" [(ngModel)]="apartmentEdit.block" />
                    <label for="block">Bloco:</label>
                </p-floatLabel>
    
                <p-floatLabel>
                    <input pInputText id="apartmentNumber" [(ngModel)]="apartmentEdit.apartmentNumber" />
                    <label for="apartmentNumber">Apartamento:</label>
                </p-floatLabel>
            </div>

            <p-floatLabel>
                <input pInputText id="resident" [(ngModel)]="apartmentEdit.resident" />
                <label for="resident">Morador:</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="email" [(ngModel)]="apartmentEdit.email" />
                <label for="email">E-mail:</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="phone" [(ngModel)]="apartmentEdit.phone" mask="(00) 00000-0000" maxlength="15" />
                <label for="phone">Telefone:</label>
            </p-floatLabel>
        </div>
        <div class="modal-footer">
            <button (click)="updateApartment()">Criar</button>
        </div>
    </div>