<div class="modal-overlay" [class.show]="visible" (click)="closeModal()"></div>
    <div class="modal-content" [class.show]="visible">
        <div class="modal-header">
            <h2> Apartamento</h2>
            <button (click)="closeModal()"><i class="pi pi-times"></i></button>
        </div>
        <div class="modal-body">
            <div>
                <label for="block">Bloco:</label>
                <input id="block" [(ngModel)]="apartmentEdit.block" type="text" />
            </div>
            <div>
                <label for="apartmentNumber">Apartamento:</label>
                <input id="apartmentNumber" [(ngModel)]="apartmentEdit.apartmentNumber" type="text" />
            </div>
            <div>
                <label for="resident">Morador:</label>
                <input id="resident" [(ngModel)]="apartmentEdit.resident" type="text" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" [(ngModel)]="apartmentEdit.email" type="text" />
            </div>
            <div>
                <label for="phone">Telefone:</label>
                <input id="phone" [(ngModel)]="apartmentEdit.phone" type="text" />
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="updateApartment()">Criar</button>
        </div>
    </div>